dist
node_modules
old
target
.cache*
.classpath
.factorypath
.project
.settings
.vscode
*.log
/.metadata/
/es.rcs.tfm/es.rcs.tfm.corpus/data/h2
/es.rcs.tfm/es.rcs.tfm.corpus/data/solr
/es.rcs.tfm/es.rcs.tfm.corpus/datasets/tmVar
/es.rcs.tfm/es.rcs.tfm.corpus/models/bert
/es.rcs.tfm/es.rcs.tfm.corpus/models/ner
/es.rcs.tfm/es.rcs.tfm.corpus/models/pos
/es.rcs.tfm/es.rcs.tfm.corpus/training/bert
/es.rcs.tfm/es.rcs.tfm.corpus/training/ner
/es.rcs.tfm/es.rcs.tfm.app/hadoop
/es.rcs.tfm/es.rcs.tfm.app/solr
/es.rcs.tfm/es.rcs.tfm.app/spark
