dist
node_modules
old
target
.attach_pid*
.cache*
.classpath
.factorypath
.project
.settings
.vscode
__pycache__
*.log
/.metadata/
/es.rcs.tfm/es.rcs.tfm.corpus/data/mesh_gzip
/es.rcs.tfm/es.rcs.tfm.corpus/data/mesh_xml
/es.rcs.tfm/es.rcs.tfm.corpus/data/pubmed_gzip
/es.rcs.tfm/es.rcs.tfm.corpus/data/pubmed_xml
/es.rcs.tfm/es.rcs.tfm.corpus/data/h2
/es.rcs.tfm/es.rcs.tfm.corpus/data/solr
/es.rcs.tfm/es.rcs.tfm.corpus/datasets
/es.rcs.tfm/es.rcs.tfm.corpus/models/bert
/es.rcs.tfm/es.rcs.tfm.corpus/models/ner
/es.rcs.tfm/es.rcs.tfm.corpus/models/pos
/es.rcs.tfm/es.rcs.tfm.corpus/models/tensorflow
/es.rcs.tfm/es.rcs.tfm.corpus/training
/es.rcs.tfm/es.rcs.tfm.app/hadoop
/es.rcs.tfm/es.rcs.tfm.app/solr
/es.rcs.tfm/es.rcs.tfm.app/spark
/es.rcs.tfm/es.rcs.tfm.app/tmp
/es.rcs.tfm/es.rcs.tfm.xml/data
/es.rcs.tfm/es.rcs.tfm.xml/esquemas
