<mat-sidenav-container fullscreen #sidenavcontainer
        class="sidenav-container"
        [style.marginTop.px]="mobileQuery.matches ? 64 : 0">

    <mat-sidenav #sidenav 
            mode="side" 
            fixedTopGap="64"
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            [(opened)]="isOpen" 
            (opened)="events.push('open!')"
            (closed)="events.push('close!')"
            disableClose="true"
            class="sidenav-sidenav"
            [style.marginTop.px]="mobileQuery.matches ? 64 : 0">
      
        <mat-nav-list>
            <div *ngFor="let cards of app.modules">
                <a mat-list-item 
                        [routerLink]="[isOpen, cards.url.toLowerCase()]"
                        routerLinkActive="active-list-item">
                    <button mat-menu-item>
                        <mat-icon class="cardImg">{{cards.img}}</mat-icon>
                        <span class="cardName">{{cards.name}}</span>
                    </button>
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <p><button mat-button (click)="sidenavToggle()">sidenav.toggle()</button></p>
        <p>Eventos:</p>
        <div>
            <div *ngFor="let e of events">{{e}}</div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>